extends base

block styles
    link(rel='stylesheet', href='/css/game.css')

block content
    h1 Game
    small Game: #{game}
    #mic.media-container
        .media-icon-holder
            i.fas.fa-microphone

block scripts
    script(src='/socket.io/socket.io.js')
    script(src='/js/game.js')