extends layout

block styles
  link(rel="stylesheet", href="/css/home.css")

block content
  .text-center
    h1 Chemistry Nightmare
  .text-center
    button#play-button
      h2 PLAY
    br
    button#help-button
      h2 HELP

block scripts
  script(src="/js/home.js")