extends base

block styles
    link(rel='stylesheet', href='/css/home.css')

block content
    div#content
        img#title(src='/images/home-title.png')
        button#play.action-button Play
        button#rules.action-button Rules

block scripts
    script(src='/socket.io/socket.io.js')
    script(src='/js/home.js')