extends layout

block styles
  link(rel="stylesheet", href="/css/home.css")

block content
  .text-center
    h1 Chemistry Nightmare
  .text-center
    button#playButton
      h2 PLAY
    br
    button#rulesButton
      h2 RULES

block scripts
  script(src="/socket.io/socket.io.js")
  script(src="/js/home.js")