extends base

block styles
    link(rel='stylesheet', href='/css/lobby.css')

block content
    img#title(src='/images/lobby-title.png')
    button(id='startGame', class='action-button') Start Game
    button(id='findGame', class='action-button') Find Game
    button(class='action-button', data-toggle='modal', data-target='#roomModal') Join Game
    button(id='back', class='action-button') Back

    div(id='roomModal', class='modal fade', tabindex='-1')
        div(class='modal-dialog modal-dialog-centered')
            div(class='modal-content')
                div(class='modal-body')
                    form
                        div(class='form-group')
                            input(id='gameId', class='form-control', type='text', placeholder='Enter Game')
                div(class='modal-footer')
                    button(class='action-button', data-dismiss='modal') Close
                    button(id='joinGame', class='action-button') Join

block scripts
    script(src='/js/lobby.js')