extends base

block styles
    link(rel='stylesheet', href='/css/sandbox.css')

block content
    img(id='title', src='/images/sandbox-title.png')

    div(id='color-palette-container')
        div(class='color-palette-row')
            div(id='red', class='color-palette-col', data-toggle='tooltip', data-placement='top', data-html='true', title='<em>Red</em><br>1:0:0')
            div(id='yellow', class='color-palette-col', data-toggle='tooltip', data-placement='top', data-html='true', title='<em>Yellow</em><br>0:1:0')
            div(id='blue', class='color-palette-col', data-toggle='tooltip', data-placement='top', data-html='true', title='<em>Blue</em><br>0:0:1')
        div(class='color-palette-row')
            div(id='orange', class='color-palette-col', data-toggle='tooltip', data-placement='top', data-html='true', title='<em>Orange</em><br>1:1:0')
            div(id='green', class='color-palette-col', data-toggle='tooltip', data-placement='top', data-html='true', title='<em>Green</em><br>0:1:1')
            div(id='violet', class='color-palette-col', data-toggle='tooltip', data-placement='top', data-html='true', title='<em>Violet</em><br>1:0:1')
        div(class='color-palette-row')
            div(id='yellow-orange', class='color-palette-col', data-toggle='tooltip', data-placement='top', data-html='true', title='<em>Yellow-Orange</em><br>1:2:0')
            div(id='red-orange', class='color-palette-col', data-toggle='tooltip', data-placement='top', data-html='true', title='<em>Red-Orange</em><br>2:1:0')
            div(id='red-violet', class='color-palette-col', data-toggle='tooltip', data-placement='top', data-html='true', title='<em>Red-Violet</em><br>1:0:2')
        div(class='color-palette-row')
            div(id='blue-violet', class='color-palette-col', data-toggle='tooltip', data-placement='top', data-html='true', title='<em>Blue-Violet</em><br>2:0:1')
            div(id='blue-green', class='color-palette-col', data-toggle='tooltip', data-placement='top', data-html='true', title='<em>Blue-Green</em><br>0:1:2')
            div(id='yellow-green', class='color-palette-col', data-toggle='tooltip', data-placement='top', data-html='true', title='<em>Yellow-Green</em><br>0:2:1')

block scripts
    script(src='/js/sandbox.js')