html {
    position: relative;
    min-height: 100%;
    background-color: #060;
}

body {
    padding-top: 80px;
    margin-bottom: 75px;
}

button {
    border: black solid 2px;
    border-radius: 5px;
    background-color: #000;
    color: #090;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0;
}