extends ../base

block styles
    link(rel='stylesheet', href='/css/game.css')

block content
    block content
    #mic.media-container
        .media-icon-holder
            i.fas.fa-microphone

block scripts
    script(src='/socket.io/socket.io.js')
    script(src='/simple-peer/simplepeer.min.js')
    script(src='/js/game/base.js')