extends base

block game-styles
    link(rel='stylesheet', href='/css/game/chemist.css')

block game-content
    img(id='title', src='/images/chemist-title.png')
    button(id='writer', class='action-button') Press Me

block game-scripts
    script(src='/js/game/chemist.js')