extends ../base

block styles
    link(rel='stylesheet', href='/css/game.css')

block content
    img(id='title', src='/images/chemist-title.png')
    button(id='writer', class='action-button') Press Me

    div.container
        .row
            .col-md-6
                div(id='tools-title' align='center')                                
                    img(src='/images/tools.png')
                .container
                    .row
                        .col-md-6
                            div(id='tools-burner' align='center')
                                button(id='burner' type='button' class='btn btn-default') Bunsen Burner
                                p Bunsen Burner - used to raise temp
                            div(id='tools-colorCups' align='center')    
                                canvas#cup-red.hoverable(width='50' height='50')   
                                canvas#cup-yellow.hoverable(width='50' height='50')   
                                canvas#cup-blue.hoverable(width='50' height='50')
                                p Color - mix colors match the researchers beaker
                        .col-md-6
                            div(id='tools-phBalance' align='center')
                                canvas#cup-acid.hoverable(width='50' height='50')
                                canvas#cup-base.hoverable(width='50' height='50')
                                p Base or Acid - used to change pH
                            div(id='tools-iceBox' align='center')
                                canvas#cup-icebox.hoverable(width='50' height='50')
                                p IceBox - used to lower temp
                            div(id='tools-sink' align='center')
                                canvas#cup-sink.hoverable(width='90' height='50')
                                p Sink - used to start over
            .col-md-6
                div(id='chemBeaker')
                    img(src="/images/chemist-title.png", alt="Chemist")
                div(id='beaker')
                    canvas#beaker-1(width='100' height='120')

    video(id='localVideo', class='d-none', autoplay, muted)
    video(id='remoteVideo', class='d-none', autoplay, muted)

block scripts
    script(src='/socket.io/socket.io.js')
    script(src='/simple-peer/simplepeer.min.js')
    script(src='/js/game/base.js')
    script(src='/js/game/chemist.js')