extends base

block game-styles
    link(rel='stylesheet', href='/css/game/chemist.css')

block game-content
    img(id='title', src='/images/chemist-title.png')

    div(class='row no-gutters')
        div(class='col')
            div(id='icebox-container', class='mx-auto', ondrop='drop(event)', ondragover='allowDrop(event)')
                canvas(id='icebox', class='object')
        div(class='col')
            div(id='beaker-container', class='mx-auto', ondrop='drop(event)', ondragover='allowDrop(event)')
                canvas(id='beaker', class='object interactive', draggable='true')
        div(class='col')
            div(id='hotplate-container', class='mx-auto', ondrop='drop(event)', ondragover='allowDrop(event)')
                canvas(id='hotplate', class='object')
    div(class='row no-gutters')
        div(class='col')
            div(id='red-cup-container', class='mx-auto')
                canvas(id='redCup', class='object interactive')
        div(class='col')
            div(id='yellow-cup-container', class='mx-auto')
                canvas(id='yellowCup', class='object interactive')
        div(class='col')
            div(id='blue-cup-container', class='mx-auto')
                canvas(id='blueCup', class='object interactive')
        div(class='col')
            div(id='acid-cup-container', class='mx-auto')
                canvas(id='acidCup', class='object interactive')
        div(class='col')
            div(id='alkaline-cup-container', class='mx-auto')
                canvas(id='alkalineCup', class='object interactive')
        
    button(id='dump', class='action-button') Dump Beaker
    button(id='submit', class='action-button') Turn-In

block game-scripts
    script(src='/js/game/chemist.js')