tr
  .row-1
    #ruler.column-1
      img#rulerimg(src='http://pngimg.com/uploads/ruler/ruler_PNG55.png')
    #thermometer.column-1
      img#thermimg(src='http://pngimg.com/uploads/thermometer/thermometer_PNG66.png')
    #phmeter.column-1
      img#phmeterimg(src='https://i.ibb.co/1bfQyQB/ph-meter.png')
.row-2(style='margin-top: 50px')
  .column-2
    canvas#beaker-1(width='250' height='250')
      #liqid
  .column-2
    canvas#beaker-2(width='250' height='250')
      
#parent
  .text
    .square.red.hoverable
      .label Red
  .square.red-orange.hoverable
    .label Red-Orange
  .square.orange.hoverable
    .label Orange
  .square.yellow.hoverable
    .label Yellow
  .square.yellow-green.hoverable
    .label Yellow-Green
  .square.green.hoverable
    .label Green
  .square.blue-green.hoverable
    .label Blue-Green
  .square.blue.hoverable
    .label Blue
  .square.blue-violet.hoverable
    .label Blue-Violet
  .square.violet.hoverable
    .label Violet
  .square.red-violet.hoverable
    .label Red-Violet
  .square.brown.hoverable
    .label Error