<<<<<<< HEAD
extends ../base

block styles
    link(rel='stylesheet', href='/css/game.css')

block content
    img(id='title', src='/images/researcher-title.png')
    div(id='reader') 0

    div(id='mic', class='media-container')
        div(class='media-icon-holder')
            i(class='fas fa-microphone-slash')

    video(id='localVideo', class='d-none', autoplay, muted)
    video(id='remoteVideo', class='d-none', autoplay, muted)

block scripts
    script(src='/socket.io/socket.io.js')
    script(src='/simple-peer/simplepeer.min.js')
    script(src='/js/game/base.js')
    script(src='/js/game/researcher.js')
=======
extends base

block content
    h1 Researcher
>>>>>>> develop
