extends base

block game-styles
    link(rel='stylesheet', href='/css/game/researcher.css')

block game-content
    img(id='title', src='/images/researcher-title.png')
    div(id='reader') 0

block game-scripts
    script(src='/js/game/researcher.js')